
body{
  background-color: #080410;
  color: #E3DEF7;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}


li{
  list-style: none;
}


a{
  text-decoration: none;
}
a:visited {
  color: #E3DEF7; /* Set the default color for links */
}

a:hover {
  color: #E3DEF7; /* Change color on hover */
}

a:active {
  color: #E3DEF7; /* Change color when clicked */
}

@media (max-width: 768px) {
  .boxes-containers {
    flex-direction: column;
    align-items: center;
  }
}


